#displayBox {
	width: 500px;
	height: 400px;
	background-color: pink; 
	border: 1px solid green;
	margin: auto;
}

#displayBox div {
	margin: 5px;
	display: inline-block;

}

#buttonBar {
	text-align: center;
	margin: 10px;
}

button {
	display: inline-block;
	margin: auto;
}

h1 {
	text-align: center;
}